{% load static %}

<header class="bg-primary" xmlns="http://www.w3.org/1999/html">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
          <div>
            <span class="lobster-main" style="color:firebrick;">C</span>
            <span class="lobster-main">hoose Your</span>
            <span class="lobster-main" style="color:gold;">M</span>
            <span class="lobster-main">eal!</span>
          </div>
          <div>
            <span class="gowundodum-main" >오늘은 </span>
            <span class="gowundodum-main" style="color:orange;">이거 </span>
            <span class="gowundodum-main">어때?</span>
          </div>
          <br>

          <div class="mt-2 mx-auto">
            <div class="btn-group">
              <a href="http://localhost:8000/recommend/" class="btn btn-outline-light btn-lg">
                Recommends
              </a>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-outline-light btn-lg">
                Records
              </a>
              <button type="button" class="btn btn-lg btn-outline-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Downloads</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'records_create' %}">기록하기</a>
                <a class="dropdown-item" href="/pybo/records/">조회하기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>