{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-sm-12 p-5">
        <h5 class="my-3 border-bottom pb-2 nanum-title"><b>글쓰기</b></h5>
        <form method="post" class="post-form my-3">
            {% csrf_token %}
            <div class="form-group row nanum-context align-items-center">
                <label for="food_typeInput" class="col-sm-1.5 col-form-label" style="margin-left:15px;">음식 분류 :</label>
                <div class="col-sm-10">
                    <input type="text" id="food_typeInput" name="food_type" class="form-control" value="{{ request.GET.food_type }}" style="width:100%;">
                </div>
            </div>
            <div class="form-group row nanum-context align-items-center">
                <label for="food_nameInput" class="col-sm-1.5 col-form-label" style="margin-left:15px;">음식 메뉴 :</label>
                <div class="col-sm-10">
                    <input type="text" id="food_nameInput" name="food_name" class="form-control" value="{{ request.GET.food_name }}" style="width:100%;">
                </div>
            </div>

            <div class="form-group nanum-context">
                <label for="{{ form.subject.id_for_label }}">제목 :</label>
                {{ form.subject }}
            </div>
            <div class="form-group nanum-context">
                <label for="{{ form.content.id_for_label }}">내용</label>
                {{ form.content }}
            </div>
            <div class="form-group nanum-context">
                <label for="{{ form.rating.id_for_label }}">별점</label>
                <div class="star-rating">
                    {% for i in "12345" %}
                        <input type="radio" name="{{ form.rating.html_name }}" id="input-star{{ i }}" value="{{ i }}">
                        <label for="input-star{{ i }}"></label>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-danger nanum-context">등록하기</button>
        </form>
    </div>
</div>
{% endblock %}