{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if record_list %}
            {% for record in record_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="#">
                        {{ record.subject }}
                    </a>
                </td>
                <td>{{ record.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">기록이 없습니다</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>