{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th>메뉴</th>
                <th style="width:30%">제목</th>
                <th>별점</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if records_list %}
                {% for records in records_list %}
                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ records.menu }}</td>
                    <td>
                        <a href="{% url 're_detail' records.id %}">
                            {{ records.subject }}
                        </a>
                    </td>
                    <td>
                        <div class="star-rating">
                            {% for i in "12345" %}
                                {% if i|add:0 >= records.rating|add:0 %}
                                    <span class="star-filled"></span>
                                {% else %}
                                    <span class="star-empty"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ records.author.username }}</td>
                    <td>{{ records.modify_date|default:records.create_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">기록이 없습니다</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'records_create' %}" class="btn btn-primary">
        글쓰기
    </a>
</div>
{% endblock %}