<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recommend_header</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

    </style>



</head>
<body>
<div style="text-align:center; height:100px; margin-bottom:20px;">
    <span class="lobster-title" style="color:firebrick;">C</span>
    <span class="lobster-title">hoose Your</span>
    <span class="lobster-title" style="color:gold;">M</span>
    <span class="lobster-title">eal!</span>
    <br>
    <span class="gowundodum-title" >오늘은 </span>
    <span class="gowundodum-title" style="color:orange;">이거 </span>
    <span class="gowundodum-title">어때?</span>
</div>
</body>
</html>