<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recommend_header</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    </style>



</head>
<body>
<div style="text-align:center; height:100px;">
    <span class="lobster-title">Choose Your Meal!</span>
    <br>
    <span class="gowundodum-title">오늘은 이거 어때?</span>
</div>
</body>
</html>