{% extends 'base2.html' %}
{% block content %}

<!-- 추천 결과 출력 -->
<div id="reco_result" style="text-align:center;">
    <div class="col-md-12">
                <div id="food-details" class="card">
                    <div class="card-body">
                        <h4> {{food.menu }} </h4>
                        <h4> {{ food.price }} </h4>
                        <h1 class="card-title">{{ food.name }}</h1>
                    </div>
                </div>
    </div>

</div>


<div style="text-align:center;">
    <!-- 리셋 버튼 -->
    <a href="{% url 'recommend_food' %}" class="btn" style="background-color: #4CAF50; color: white; padding: 10px 20px;
    border: none; cursor: pointer;">다시</a>

    <!-- 확인 버튼 -->
    <a href="{% url 'records_create' %}" class="btn" style="background-color: #4CAF50; color: white; padding: 10px 20px;
    border: none; cursor: pointer;">확인</a>

    <!-- 검색 버튼 ***수정필요***-->
    <!-- <form action="/search" method="get"> -->
    <button style="background-color: #4CAF50; color: white; padding: 10px 20px;
    border: none; cursor: pointer;" type="submit" id="search">검색</button>
    <!-- </form> -->

</div>

{% endblock %}
