{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2 class="text-center mb-4">비밀번호 변경</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" id="label_old_password">{{ form.old_password.label }}</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.old_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" id="label_new_password1">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="invalid-feedback">
                    {% for error in form.new_password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" id="label_new_password2">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password2.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <small class="form-text text-muted">
                최소 8개의 숫자와 문자 또는 특수기호를 입력 해주세요.
            </small>
        </div>
        <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
</div>

{% endblock %}

<!-- 아래 스크립트 일부 작동하지 않아 추후 확인 필요 -->
{% block script %}
<script type="text/javascript">
    if (document.getElementsByName('old_password')[0].value != '') {
        document.getElementById('label_old_password')[0].setAttribute('class', 'active');
    }
    document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')

    if (document.getElementsByName('new_password1')[0].value != '') {
        document.getElementById('label_new_password1')[0].setAttribute('class', 'active');
    }
    document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')

    if (document.getElementsByName('new_password2')[0].value != '') {
        document.getElementById('label_new_password2')[0].setAttribute('class', 'active');
    }
    document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
</script>
{% endblock %}
