{% extends 'base.html' %}
{% load food_filter %}
{% block content %}
<div class="container my-3 nanum-context">
  <div class="p-3 mb-2 bg-body text-dark"></div><h1 class="text-center mb-4"><b>회원정보</b></h1>
  <div class="row">
    <div class="col-sm-12 p-5">
      <div class="content_block">
        <div class="d-flex justify-content-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="btn btn-outline-secondary" href="{% url 'common:profile_view' user_id=request.user.pk %}">기본정보</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary" href="{% url 'common:profile_record' user_id=request.user.pk %}">내가 쓴 게시글</a>
          </li>
        </ul>
        </div>
        <table class="table">
        <thead>
            <tr class="text-center thead-dark nanum-context">
                <th>번호</th>
                <th>메뉴</th>
                <th style="width:30%">제목</th>
                <th>별점</th>
                <th>작성일시</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            {% if records_list %}
                {% for records in records_list %}
                <tr class="text-center nanum-context">
                    <td>{{ records_list.paginator.count|sub:records_list.start_index|sub:forloop.counter0|add:1 }}</td>
                    <td>{{ records.food_name }}</td>
                    <td>
                        <a href="{% url 're_detail' records.id %}" class="text-secondary">
                            {{ records.subject }}
                        </a>
                    </td>
                    <td>
                        <div class="star-rating">
                            {% for i in "12345" %}
                                {% if i|add:0 >= records.rating|add:0 %}
                                    <span class="star-filled"></span>
                                {% else %}
                                    <span class="star-empty"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>

                    <td>{{ records.modify_date|default:records.create_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ records.views }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="nanum-context">
                    <td colspan="4">기록이 없습니다</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <!--  페이징 처리  -->
    <ul class="pagination justify-content-center nanum-context pt-5">
        <!--    이전 페이지    -->
        {% if records_list.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="#" data-page="{{ records_list.previous_page_number }}">
                이전
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                이전
            </a>
        </li>
        {% endif %}
        <!--    페이지 리스트    -->
        {% for page_number in records_list.paginator.page_range %}
        {% if page_number >= records_list.number|add:-2 and page_number <= records_list.number|add:5 %}
            {% if page_number == records_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#" data-page="{{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="#" data-page="{{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!--    다음 페이지    -->
        {% if records_list.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="#" data-page="{{ records_list.next_page_number }}">
                다음
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                다음
            </a>
        </li>
        {% endif %}
    </ul>
    <!--  페이징 끝  -->
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const pageLinks = document.querySelectorAll('.pagination .page-link');

        pageLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                const page = this.dataset.page;
                const url = "{% url 'common:profile_record' user_id=user.pk %}?page=" + page;
                window.location.href = url;
            });
        });
    });
</script>
{% endblock %}
