{% extends 'base.html' %}
{% block content %}

<div class="container my-3 nanum-context">
    <div class="p-3 mb-2 bg-body text-dark"></div><h1 class="text-center mb-4"><b>회원정보</b></h1>
    <div class="row">
        <div class="col-sm-12 p-5">
            <div class="d-flex justify-content-center">
            <div class="content_block">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'common:profile_view' user_id=request.user.pk %}">기본정보</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="{% url 'common:profile_record' user_id=request.user.pk %}">내가 쓴 게시글</a>
                  </li>
                </ul>
                <br>
                <div class="form-group">
                    <p>아이디 : {{ user.username|default_if_none:'' }}</p>
                </div>
                <div class="form-group">
                    <p>닉네임 : {{ user.nickname|default_if_none:'' }}</p>
                </div>
                <div class="form-group">
                    <p>이름 : {{ user.myname|default_if_none:'' }}</p>
                </div>
                <div class="form-group">
                    <p>전화번호 : {{ user.phone|default_if_none:'' }}</p>
                </div>
                <div class="form-group">
                    <p>이메일 : {{ user.email|default_if_none:'' }}</p>
                </div>
                <div class="form-group">
                    <p>주소 : {{ user.address|default_if_none:'' }}</p>
                </div>
                <a href="{% url 'common:profile_update' user_id=request.user.pk %}" class="btn btn-danger">수정하기</a>
                <a href="{% url 'common:change_password'%}" class="btn btn-danger">비밀번호 변경</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}